
 @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
@section scripts{

    <script src="~/Scripts/TableRedaktorRequest.js"></script>

    }
<link href="~/Content/TableRedaktor.css" rel="stylesheet">
<nav role="navigation" class="navbar navbar-default">

    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapseTabRed" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Редактор расписания</a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarSettings" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a data-toggle="modal" data-target="#RedaktorModul">Редактор модуля</a></li>
            <li><a data-toggle="modal" data-target="#RedaktorGroup">Редактор групп</a></li>
            <li><a data-toggle="modal" data-target="#RedaktorGroup">Сохранить</a></li>
        </ul>
        
    </div>
</nav>
    <div class="col-md-6 col-lg-6 ">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="center headcolor">День</th>
                        <th class="center headcolor" style="width: 50px;">Часы</th>
                        <th class="center headcolor">Название предмета</th>
                        <th class="center headcolor" style="width: 75px">Группа</th>
                        <th class="center headcolor">Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="1v1">
                        <td rowspan="10" class="headcolor"><div id="imageCenter"><img src="/Images/Monday.png"></div></td>
                        <td rowspan="2">8.30-10.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="1n1">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2v1">
                        <td rowspan="2">10.25-12.00</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2n1">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="3v1">
                        <td rowspan="2">12.30-14.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="3n1">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="4v1">
                        <td rowspan="2">14.20-15.55</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="4n1">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="5v1">
                        <td rowspan="2">16.05-17.40</td>

                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="5n1">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr style="height: 10px; color: burlywood"></tr>

                    @*//////////////////////////*@
                    <tr class="1v2">
                        <td rowspan="10" class="headcolor vertical"><div id="imageCenter"><img src="/Images/Tuesday.png"></div></td>
                        <td rowspan="2">8.30-10.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="1n2">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2v2">
                        <td rowspan="2">10.25-12.00</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2n2">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="3v2">
                        <td rowspan="2">12.30-14.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="3n2">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="4v2">
                        <td rowspan="2">14.20-15.55</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="4n2">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="5v2">
                        <td rowspan="2">16.05-17.40</td>

                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="5n2">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>


                    <tr style="height: 10px; color: burlywood"></tr>
                    @*//////////////////////////*@

                    <tr class="1v3">
                        <td rowspan="10" class="headcolor vertical"><div id="imageCenter"><img src="/Images/Wendsday.png"></div></td>
                        <td rowspan="2">8.30-10.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="1n3">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2v3">
                        <td rowspan="2">10.25-12.00</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2n3">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="3v3">
                        <td rowspan="2">12.30-14.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="3n3">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="4v3">
                        <td rowspan="2">14.20-15.55</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="4n3">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="5v3">
                        <td rowspan="2">16.05-17.40</td>

                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="5n3">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="center headcolor">День</th>
                        <th class="center headcolor" style="width: 50px;">Часы</th>
                        <th class="center headcolor">Название предмета</th>
                        <th class="center headcolor" style="width: 75px">Группа</th>
                        <th class="center headcolor">Комментарий</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="1v4">
                        <td rowspan="10" class="headcolor vertical"><div id="imageCenter"><img src="/Images/Thursday.png"></div></td>
                        <td rowspan="2">8.30-10.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="1n4">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2v4">
                        <td rowspan="2">10.25-12.00</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2n4">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="3v4">
                        <td rowspan="2">12.30-14.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="3n4">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="4v4">
                        <td rowspan="2">14.20-15.55</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="4n4">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="5v4">
                        <td rowspan="2">16.05-17.40</td>

                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="5n4">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr style="height: 10px; color: burlywood"></tr>

                    @*//////////////////////////*@
                    <tr class="1v5">
                        <td rowspan="10" class="headcolor vertical"><div id="imageCenter"><img src="/Images/Friday.png"></div></td>
                        <td rowspan="2">8.30-10.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="1n5">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2v5">
                        <td rowspan="2">10.25-12.00</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2n5">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="3v5">
                        <td rowspan="2">12.30-14.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="3n5">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="4v5">
                        <td rowspan="2">14.20-15.55</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="4n5">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="5v5">
                        <td rowspan="2">16.05-17.40</td>

                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="5n5">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr style="height: 10px; color: burlywood"></tr>
                    @*//////////////////////////*@

                    <tr class="1v6">
                        <td rowspan="10" class="headcolor vertical"><div id="imageCenter"><img src="/Images/Saturday.png"></div></td>
                        <td rowspan="2">8.30-10.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="1n6">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2v6">
                        <td rowspan="2">10.25-12.00</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="2n6">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="3v6">
                        <td rowspan="2">12.30-14.05</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="3n6">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="4v6">
                        <td rowspan="2">14.20-15.55</td>
                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="4n6">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                    <tr class="5v6">
                        <td rowspan="2">16.05-17.40</td>

                        <td class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>
                    <tr class="5n6">
                        <td hidden class="subject" data-toggle="modal" data-target="#modal-subject"></td>
                        <td hidden class="group" data-toggle="modal" data-target="#modalGroup"></td>
                        <td hidden class="comment" data-toggle="modal" data-target="#modalComment"></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

<div class="modal" id="RedaktorGroup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modat-title" style="text-align: center; vertical-align: middle;">
                    Редактор групп
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered cell-size" id="DivideGroupsTable"></table>
            </div>
            <div class="modal-footer">
                <button id="CancelGroup" class="btn btn-danger" type="button" data-dismiss="modal"> Отмена</button>
                
                <button id="AddGroup" class="btn btn-success" type="button" data-dismiss="modal">Принять</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="modal-subject" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modat-title" style="text-align: center; vertical-align: middle;">
                    Добавить предмет
                </h4>
            </div>
            <div class="modal-body">
                <form action="/" method="post" id="addFormSubject">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label" for="nameSubject"> Название предмета</label>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="text" name="Название_предмета" class="form-control" id="nameSubject" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label" for="NumberAuditory">Номер аудитории</label>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <input type="text" name="Номер_аудитории" class="form-control" id="NumberAuditory" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label" for="TypeOfOccupation"> Тип занятия</label>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <select name="Тип_занятия" class="form-control" id="TypeOfOccupation">
                                    <option value="Лекция" selected="selected">Лекция</option>
                                    <option value="Семинар">Семинар</option>
                                    <option value="Лабораторные">Лабораторные</option>
                                </select>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label"> Неделя</label>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <select name="неделя" class="form-control">
                                    <option value="null" selected="selected">Обычная</option>
                                    <option value="true">Верхняя</option>
                                    <option value="false">Нижняя</option>
                                </select>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px;">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label">Единичное</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <input type="checkbox" id="check_period">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px;" id="period">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label class="control-label">Продолжительность</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="control-label">c</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input type="date" name="Начало_занятий" class="form-control" id="Start_period" role="textbox">
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <label class="control-label">до</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input type="date" name="Конец_занятий" class="form-control" id="Finish_period" role="textbox">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="CancelSubject" class="btn btn-danger" type="button" data-dismiss="modal"> Отмена</button>
                <button id="ClearSubject" class="btn btn-info" type="button" data-dismiss="modal">Очистить</button>
                <button id="AddSubject" class="btn btn-success" type="button" data-dismiss="modal">Принять</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalComment" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="modal" type="button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modat-title" style="text-align: center; vertical-align: middle;">
                    Добавить комментарий
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea class="form-control" rows="5" id="mark" style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="CancelComment" class="btn btn-danger" type="button" data-dismiss="modal"> Отмена</button>
                <button id="ClearComment" class="btn btn-info" type="button" data-dismiss="modal">Очистить</button>
                <button id="AddComment" class="btn btn-success" type="button" data-dismiss="modal">Принять</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalGroup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modat-title" style="text-align: center; vertical-align: middle;">
                    Добавить группу
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 centerForCollumn">
                            <label class="control-label"> Группа 1 </label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <input name="gr1" type="text" class="form-control" id="gr1">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <button class="btn btn-info" id="viewgroup1"> Просмотреть </button>
                        </div>
                    </div>
                    <div class="row" style="height: 10px; color: burlywood"></div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 centerForCollumn">
                            <label class="control-label"> Группа 2 </label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <input name="gr2" type="text" class="form-control" id="gr2">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <button class="btn btn-info" id="viewgroup2"> Просмотреть </button>
                        </div>
                    </div>
                    <div class="row" style="height: 10px; color: burlywood"></div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 centerForCollumn">
                            <label class="control-label"> Группа 3 </label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <input name="gr3" type="text" class="form-control" id="gr3">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <button class="btn btn-info" id="viewgroup3"> Просмотреть </button>
                        </div>
                    </div>
                </div>
                <div id="viewsstud">

                </div>
            </div>
            <div class="modal-footer">
                <button id="CancelGroup" class="btn btn-danger" type="button" data-dismiss="modal"> Отмена</button>
                <button id="ClearGroup" class="btn btn-info" type="button" data-dismiss="modal">Очистить</button>
                <button id="AddGroup" class="btn btn-success" type="button" data-dismiss="modal">Принять</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="RedaktorModul" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modat-title" style="text-align: center; vertical-align: middle;">
                    Редактор модуля
                </h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Белорусский бюджет</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <label>1 модуль</label>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="date" name="calendar">
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <label>2 модуль</label>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="date" name="calendar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Российский бюджет</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <label>1 модуль</label>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="date" name="calendar">
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <label>2 модуль</label>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="date" name="calendar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="CancelGroup" class="btn btn-danger" type="button" data-dismiss="modal"> Отмена</button>

                    <button id="AddGroup" class="btn btn-success" type="button" data-dismiss="modal">Принять</button>
                </div>
            </div>
        </div>
    </div>
</div>
